---
title: Ralph's Coffee
---
<<<<<<< HEAD
<!-- The header -->
<header class="top-bar">
  <div class="logo">
    <a href="/">
      <img src="images/ralph-coffee-logo.png" alt="logo">
    </a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
=======

<section class="masthead">
  <article>
    <hgroup>
      <h1>Brewing the best</h1>
      <h3>in six global locations</h3>
    </hgroup>
  </article>
</section>

<section class="content index">
  <article>
    <header>
      <h1>Why Ralph's Coffee</h1>
    </header>
    <ul class="marketing">
      <li>
        <span class="graphic"><i class="icon-coffee"></i></span>
        <h4>Free-trade and organic</h4>
      </li>
      <li>
      <span class="graphic"><i class="icon-globe"></i></span>
        <h4>Six global locations</h4>
      </li>
      <li>
      <span class="graphic"><i class="icon-cloud"></i></span>
        <h4>Free wi-fi</h4>
      </li>
    </ul>
  </article>
</section>
