<div class="footer-spacer"></div>
<footer>
  <section class="main-content">
    <article class="description">
      <h4>About</h4>
      <p>Ralph's Coffee has been serving the masses great free-trade coffee since 2003. Originally from Boston, Ralph's Coffee set forth to establish locales in different parts of the world, consistently caffienating people with high-quality, organic, and free-trade coffee beans from South America.</p>
    </article>
    <ul class="company">
      <h4>Company</h4>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </section>
  <section class="copyright">
    <small>Copyright 2013, Ralph's Coffee Worldwide.</small>
  </section>
</footer>

