html {
  height: 100%;
}

body {
  background: #EEE;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;

  section.container {
    @include outer-container;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
  }
}
