body {
  color: $charcoal;
  font-family: $sans-serif;
  font-size: 1.0em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1 {
  margin: 0;
}

p {
  line-height: 1.5em;
  margin: 0 0 2.0em 0;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: darken($white, 20);
  }
}
