<header class="top-bar">
  <div class="logo">
    <a href="/">
      <img src="images/ralph-coffee-logo.png" alt="logo">
    </a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
