section.masthead {
  background: url('/images/masthead.png') no-repeat center bottom;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;

  article {
    bottom: 30px;
    position: absolute;
    right: 60px;

    hgroup {
      color: $white;
      letter-spacing: 6px;
      text-align: right;
      text-transform: uppercase;

      h1 {
        font-size: 64px;
        margin: 0;
        text-shadow: 0 1px 1px rgb(0,0,0);
      }

      h3 {
        font-size: 32px;
        margin: 0;
      }
    }
  }
}

section.content {
  article {
    @include outer-container;
    @include pad(40px 0);

    header {
      @include row();
      text-align: center;

      h3 {
        font-family: $serif;
        font-style: italic;
        color: $light-gray;
      }
    }

    ul.marketing {
      @include span-columns(12);
      padding-left: 0;

      li {
        @include span-columns(4 of 12);
        @include omega(3n);
        text-align: center;

        img {
          height: 100px;
          width: auto;
          opacity: 0.8;

          &:hover {
            opacity: 1.0;
          }
        }

        h4 {
          color: $light-gray;
          letter-spacing: 4px;
          text-transform: uppercase;
        }
      }
    }
  }
}
