section.content {
  background: #FFF;

  article {

    ul.menu {
      @include outer-container;

      li {
        @include span-columns(6);
        @include omega(2n);
        @include pad(20px 0);
        text-align: center;
        
        p {
          margin: 0 auto;
        }

        small {
          color: lighten($light-gray, 30);
          font-style: italic;
        }
      }
    }
  }
}
