.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

header.top-bar {
  @include clearfix;
  @include outer-container;
  background: $charcoal;
  @include linear-gradient(lighten($charcoal, 10), $charcoal);
  color: $white;
  height: 80px;
  letter-spacing: 4px;
  text-transform: uppercase;


  div.logo {
    padding-top: 16px;
    padding-left: 20px;

    img {
      height: 50px;
      width: auto;
    }
  }

  nav {

    ul {
      font-family: $sans-serif;
      font-weight: 700;
      margin: 0;

      li {
        @include pad( default 2.0em );
        display: inline;
        line-height: em(80);
        list-style-type: none;
        text-align: center;
      }
    }
  }
}
