header.top-bar {
  @include linear-gradient(lighten($charcoal, 10), $charcoal);
  @include outer-container;
  background: $charcoal;
  color: $white;
  height: 80px;
  letter-spacing: 4px;
  text-transform: uppercase;

  @include media($small-screen) {
    height: auto;
  }

  div.logo {
    float: left;
    padding: 16px 0;

    @include media($small-screen) {
      padding: 8px 0;
    }

    img {
      height: 50px;
      width: auto;

      @include media($small-screen) {
        height: 35px;
      }
    }
  }

  i#nav-dropdown {
    display: none;
    float: right;
    padding: 14px 0 0 20px;

    @include media($small-screen) {
      display: block;
    }

    @include media($small-screen) {
      display: block;
    }
  }

  nav {
    float: right;
    padding-top: 18px;

    @include media($small-screen) {
      @include fill-parent;
      padding-top: 0;
    }

    ul {
      padding-left: 0;
      position: relative;
      z-index: 2;
      font-family: $sans-serif;
      font-weight: 700;
      margin: 0;

      @include media($small-screen) {
        display: none;
      }

      li {
        @include inline-block;
        padding: 0.5em 1em;
        list-style-type: none;
        text-align: center;

        @include media($small-screen){
          background: $charcoal;
          @include fill-parent;
          padding-left: 0;
        }
      }
    }
  }
}
