section.masthead {
  background: url('../images/masthead.png') no-repeat center bottom;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;

  @include media($mobile) {
    height: auto;
  }

  article {
    bottom: 30px;
    position: absolute;
    right: 60px;

    @include media($mobile) {
      position: static;
      padding: 2.5em 0;
      @include fill-parent;
    }

    hgroup {
      color: $white;
      letter-spacing: 6px;
      text-align: right;
      text-transform: uppercase;

      @include media($mobile) {
        text-align: center;
      }

      h1 {
        font-size: 64px;
        margin: 0;
        text-shadow: 0 1px 1px rgb(0,0,0);

        @include media($mobile) {
          font-size: 32px;
        }
      }

      h3 {
        font-size: 32px;
        margin: 0;

        @include media($mobile) {
          text-shadow: 0 1px 1px rgb(0,0,0);
        }
      }
    }
  }
}

section.content {
  @include outer-container;

  article {
    @include shift(1);
    @include span-columns(10);
    @include pad(4.0em 0);

    header {
      @include row();
      margin-bottom: 2.0em;
      text-align: center;

      h1 {
        letter-spacing: 3px;
        color: $light-gray;
        text-transform: uppercase;
      }
    }
  }
}

section.index {
  ul.marketing {
    @include span-columns(12);
    padding-left: 0;
    margin-top: 40px;

    li {
      @include span-columns(4 of 12);
      @include omega(3n);
      text-align: center;

      @include media($small-screen) {
        @include fill-parent;
      }

      @include media($mobile) {
        @include fill-parent;
      }

      span.graphic {
        @include inline-block;
        background: $white;
        border-radius: 100%;
        border: 2px solid $base-border-color;
        color: rgb(140,140,140);
        font-size: 5.2em;
        height: 160px;
        margin-bottom: 0.3em;
        padding-top: 0.3em;
        text-align: center;
        width: 160px;

        &:hover {
          opacity: 1.0;
        }
      }

      h4 {
        display: block;
        color: $light-gray;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }
}
