body {
  position: relative;
  font-family: $base-font-family;

  section.container {
    @include outer-container;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
  }
}

header.top-bar {
  @include outer-container;
  background: #444;
  color: #FFF;
  height: 80px;
  letter-spacing: 4px;
  text-transform: uppercase;


  div.logo {
    padding-top: 16px;
    padding-left: 20px;

    img {
      height: 50px;
      width: auto;
    }
  }

  nav {
    ul {
      font-weight: 700;
      margin: 0;

      li {
        @include pad( default 2.0em );
        display: inline;
        line-height: em(80);
        list-style-type: none;
        text-align: center;
      }
    }
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

section.masthead {
  background: image_url('masthead.png') no-repeat center bottom;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;

  article {
    bottom: 30px;
    position: absolute;
    right: 60px;

    hgroup {
      color: #FFFFFF;
      letter-spacing: 6px;
      text-align: right;
      text-transform: uppercase;

      h1 {
        font-size: 64px;
        margin: 0;
        text-shadow: 0 1px 1px rgb(0,0,0);
      }

      h3 {
        font-size: 32px;
        margin: 0;
      }
    }
  }
}

section.content {
  @include outer-container;

  article {
    @include shift(1);
    @include span-columns(10);
    padding: 4em 0;

    header {
      @include row();
      margin-bottom: 2.0em;
      text-align: center;

      h1 {
        color: #CCC;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }
}

section.index {
  ul.marketing {
    @include span-columns(12);
    padding-left: 0;
    margin-top: 40px;

    li {
      @include span-columns(4 of 12);
      @include omega(3n);
      text-align: center;

      span.graphic {
        @include inline-block;
        border-radius: 100%;
        border: 2px solid #CCC;
        color: rgb(140,140,140);
        font-size: 5.2em;
        height: 160px;
        margin-bottom: 0.3em;
        padding-top: 0.3em;
        text-align: center;
        width: 160px;

        &:hover {
          opacity: 1.0;
        }
      }

      h4 {
        display: block;
        color: #CCC;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }
}

div.footer-spacer {
  height: 255px;
}

footer {
  background: #444;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;

  section.main-content {
    @include outer-container;
    padding: 20px 40px;

    article.description {
      @include span-columns(6);

      h4 {
        color: #CCC;
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      p {
        color: #FFF;
      }
    }

    ul.company {
      @include span-columns(4);
      @include shift(2);
      list-style: none;
      padding-left: 0;
      margin-top: 0;

      h4 {
        color: #CCC;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }

  section.copyright {
    @include fill-parent;
    padding: 10px 0;
    color: #CCC;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
}
