body {
  position: relative;
  font-family: $base-font-family;

  section.container {
    @include outer-container;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
  }
}

section.masthead {
  background: image_url('masthead.png') no-repeat center bottom;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;

  article {
    bottom: 30px;
    position: absolute;
    right: 60px;

    hgroup {
      color: #FFFFFF;
      letter-spacing: 6px;
      text-align: right;
      text-transform: uppercase;

      h1 {
        font-size: 64px;
        margin: 0;
        text-shadow: 0 1px 1px rgb(0,0,0);
      }

      h3 {
        font-size: 32px;
        margin: 0;
      }
    }
  }
}

section.content {
  @include outer-container;

  article {
    @include shift(1);
    @include span-columns(10);
    padding: 4em 0;

    header {
      @include row();
      margin-bottom: 2.0em;
      text-align: center;

      h1 {
        color: #CCC;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }
}

section.index {
  ul.marketing {
    @include span-columns(12);
    padding-left: 0;
    margin-top: 40px;

    li {
      @include span-columns(4 of 12);
      @include omega(3n);
      text-align: center;

      span.graphic {
        @include inline-block;
        border-radius: 100%;
        border: 2px solid #CCC;
        color: rgb(140,140,140);
        font-size: 5.2em;
        height: 160px;
        margin-bottom: 0.3em;
        padding-top: 0.3em;
        text-align: center;
        width: 160px;

        &:hover {
          opacity: 1.0;
        }
      }

      h4 {
        display: block;
        color: #CCC;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }
  }
}
