<section class="content">
  <article>
    <header>
      <h1>About Ralph's Coffee</h1>
    </header>
    <p>Ralph's Coffee has been serving the masses great free-trade coffee since 2003. Originally from Boston, Ralph's Coffee set forth to establish locales in different parts of the world, consistently caffienating people with high-quality, organic, and free-trade coffee beans from South America.</p>
    <ul class="marketing">
      <li>
        <img src="images/icons/icon-coffee-cup.png" alt="" />
        <h4>Free-trade and organic</h4>
      </li>
      <li>
        <img src="images/icons/icon-world.png" alt="" />
        <h4>Six global locations</h4>
      </li>
      <li>
        <img src="images/icons/icon-wifi.png" alt="" />
        <h4>Free wi-fi</h4>
      </li>
    </ul>
  </article>
</section>
