<section class="content">
  <article>
    <header>
      <h1>About Ralph's Coffee</h1>
    </header>
    <p>Ralph's Coffee has been serving the masses great free-trade coffee since 2003. Originally from Boston, Ralph's Coffee set forth to establish locales in different parts of the world, consistently caffienating people with high-quality, organic, and free-trade coffee beans from South America.</p>
  </article>
</section>
