<section class="content">
<header>
  <h1>Contact Ralph's Coffee</h1>
</header>
  <fieldset>
    <input type="text" name="name" value="" placeholder="Name" />
    <input type="email" name="email" value="" placeholder="Email" />
    <textarea name="message" placeholder="Enter your message"></textarea>
  </fieldset>
  <input type="submit" name="" value="Send message" />
</form>
