---
title: Ralph's Coffee
---


<section class="masthead">
  <header class="top-bar">
    <div class="logo">
      <h1>Ralph's Coffe</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/menu.html">Menu</a>
        </li>
        <li>
          <a href="/location.html">Locations</a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <article>
    <hgroup>
      <h1>Brewing the best</h1>
      <h3>in six global locations</h3>
    </hgroup>
  </article>
</section>
<section class="content">
  <article>
    <header>
      <h3>Why Ralph's Coffee</h3>
    </header>
    <ul class="marketing">
      <li>
        <img src="images/icons/icon-coffee-cup.png" alt="" />
        <h4>Free-trade and organice</h4>
      </li>
      <li>
        <img src="images/icons/icon-world.png" alt="" />
        <h4>Six global locations</h4>
      </li>
      <li>
        <img src="images/icons/icon-wifi.png" alt="" />
        <h4>Free wi-fi</h4>
      </li>
    </ul>
  </article>
</section>
<footer>
  <section class="main-content">
    <article class="description">
      <h5>About</h5>
      <p>Ralph's Coffee has been serving the masses great free-trade coffee since 2003. Originally from Boston, Ralph's Coffee set forth to establish locales in different parts of the world, consistently caffienating people with high-quality, organic, and free-trade coffee beans from South America.</p>
    </article>
    <ul class="company">
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/location.html">Locations</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </section>
  <section class="copyright">
    <small>Copyright 2013, Ralph's Coffee Worldwide.</small>
  </section>
</footer>




