---
title: Ralph's Coffee
---

<section class="masthead">
  <article>
    <hgroup>
      <h1>Brewing the best</h1>
      <h3>in six global locations</h3>
    </hgroup>
  </article>
</section>
<section class="content">
  <article>
    <header>
      <h3>Why Ralph's Coffee</h3>
    </header>
    <ul class="marketing">
      <li>
        <img src="images/icons/icon-coffee-cup.png" alt="" />
        <h4>Free-trade and organic</h4>
      </li>
      <li>
        <img src="images/icons/icon-world.png" alt="" />
        <h4>Six global locations</h4>
      </li>
      <li>
        <img src="images/icons/icon-wifi.png" alt="" />
        <h4>Free wi-fi</h4>
      </li>
    </ul>
  </article>
</section>
