---
title: Ralph's Coffee
---

<header>
  <div class="logo">
    <h1>Ralph's Coffe</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/location.html">Locations</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>

