---
title: Ralph's Coffee - Menu
---

<header class="top-bar">
  <div class="logo">
    <a href="/">
      <h1>Ralph's Coffee</h1>
  </a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<section class="content">
  <article>
    <header>
      <h3>The Menu</h3>
    </header>
    <ul class="menu">
      <li>
        <p>Espresso</p>
        <small>$2.00</small>
      </li>
      <li>
        <p>Macchiato</p>
        <small>$3.00</small>
      </li>
      <li>
        <p>Caffe Latte</p>
        <small>$4.00</small>
      </li>
      <li>
        <p>Caffe Mocha</p>
        <small>$4.50</small>
      </li>
      <li>
        <p>Iced Coffee</p>
        <small>$4.00</small>
      </li>
      <li>
        <p>Espresso</p>
        <small>$2.00</small>
      </li>
      <li>
        <p>Hot Chocolate</p>
        <small>$2.00</small>
      </li>
      <li>
        <p>Chai Iced Tea</p>
        <small>$2.50</small>
      </li>
      <li>
        <p>Bottled Water</p>
        <small>$1.00</small>
      </li>
    </ul>
  </ul>
  </article>
</section>
<footer>
  <section class="main-content">
    <article class="description">
      <h4>About</h4>
      <p>Ralph's Coffee has been serving the masses great free-trade coffee since 2003. Originally from Boston, Ralph's Coffee set forth to establish locales in different parts of the world, consistently caffienating people with high-quality, organic, and free-trade coffee beans from South America.</p>
    </article>
    <ul class="company">
      <h4>Company</h4>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/menu.html">Menu</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </section>
  <section class="copyright">
    <small>Copyright 2013, Ralph's Coffee Worldwide.</small>
  </section>
</footer>
