---
title: Ralph's Coffee - Menu
---

<section class="content">
  <article>
    <header>
      <h3>The Menu</h3>
    </header>
    <ul class="menu">
      <li>
        <p>Espresso</p>
        <small>$2.00</small>
      </li>
      <li>
        <p>Macchiato</p>
        <small>$3.00</small>
      </li>
      <li>
        <p>Caffe Latte</p>
        <small>$4.00</small>
      </li>
      <li>
        <p>Caffe Mocha</p>
        <small>$4.50</small>
      </li>
      <li>
        <p>Iced Coffee</p>
        <small>$4.00</small>
      </li>
      <li>
        <p>Espresso</p>
        <small>$2.00</small>
      </li>
      <li>
        <p>Hot Chocolate</p>
        <small>$2.00</small>
      </li>
      <li>
        <p>Chai Iced Tea</p>
        <small>$2.50</small>
      </li>
      <li>
        <p>Bottled Water</p>
        <small>$1.00</small>
      </li>
    </ul>
  </ul>
  </article>
</section>
