---
title: Ralph's Coffee - Menu
---

<section class="content">
  <article>
    <header>
      <h1>The Menu</h1>
    </header>
    <ul class="menu">
      <li>
        <h5>Macchiato</h5>
        <em>$3.00</em>
      </li>
      <li>
        <h5>Caffe Latte</h5>
        <em>$4.00</em>
      </li>
      <li>
        <h5>Caffe Mocha</h5>
        <em>$4.50</em>
      </li>
      <li>
        <h5>Iced Coffee</h5>
        <em>$4.00</em>
      </li>
      <li>
        <h5>Espresso</h5>
        <em>$2.00</em>
      </li>
      <li>
        <h5>Hot Chocolate</h5>
        <em>$2.00</em>
      </li>
      <li>
        <h5>Chai Iced Tea</h5>
        <em>$2.50</em>
      </li>
      <li>
        <h5>Bottled Water</h5>
        <em>$1.00</em>
      </li>
    </ul>
  </ul>
  </article>
</section>
